<tbody>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>3</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>6</span></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>5</span></td>
        <td><span>1</span></td>
        <td><span>4</span></td>
        <td><span>8</span></td>
        <td>&nbsp;</td>
        <td><span>2</span></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><span>1</span></td>
        <td>&nbsp;</td>
        <td><span>9</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>6</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>4</span></td>
        <td>&nbsp;</td>
        <td><span>2</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>8</span></td>
    </tr>
    <tr>
        <td><span>5</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>4</span></td>
        <td><span>7</span></td>
        <td><span>6</span></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>8</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>9</span></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><span>3</span></td>
        <td><span>1</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><span>8</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><span>4</span></td>
        <td><span>2</span></td>
        <td><span>7</span></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</tbody>
